<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Huli</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' =>
        true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
    <h1>Huli Landing Page</h1>

    <h3 id="title">Projects</h3>
    <table class="table table-striped table-responsive">
        <tr>
          <th></th>
          <th>Title</th>
          <th>Description</th>
        </tr>
        <% @projects.each do |project| %>
        <tr>
          <% if project.avatar_stored? %>
            <td><%= image_tag project.avatar.url ,class: "img-thumbnail" %></td>
          <% end %>
          <td><%= project.title %></td>
          <td><%= project.description %></td>
        </tr>
        <% end %>
    </table>

    <h3 id="title">Teams</h3>
    <table class="table table-striped table-responsive">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Apprentices</th>
      </tr>
      <% @teams.each do |team| %>
        <tr>
          <% if team.avatar_stored? %>
            <td><%= image_tag team.avatar.url, class: "img-thumbnail" %></td>
          <% end %>
          <td><%= team.name %></td>
          <td>
            <%= team.apprentices.each do |a| %>
              <%= a.name %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
</body>
</html>