<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Huli</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' =>
        true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
    <h1>Huli Landing Admin Page</h1>

    <h3>Projects</h3>
      <table>
        <tr>
          <th>Title</th>
          <th>Description</th>
        </tr>
        <% @projects.each do |project| %>
        <tr>
          <td><%= project.title %></td>
          <td><%= project.description %></td>
          <td><%= link_to "Edit", edit_project_path(project), {:class => "btn btn-secondary btn-lg", :role => "button"} %></td>
        </tr>
        <% end %>
      </table>
</body>
</html>